<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
    <appSettings>
        <add key="SourceApiEndpoint" value="https://f43qgubfhf.execute-api.ap-southeast-2.amazonaws.com/sampletest" />
        <add key="FirstQuestionId" value="42" />
        <add key="SecondQuestionAge" value="23" />
    </appSettings>
</configuration>